footer{
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}
.versao{
    color: #6c757d;

}
